<div id="images" class="section">
  <h2>Images</h2>

  <h3>UNIHACK 2015</h3>
  <div class="row">
    <div class="col-md-4">
      <a href="{{ site.url }}/images/event-2015/unihack2015-8.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/event-2015/unihack2015-8.jpg" />
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ site.url }}/images/event-2015/unihack2015-9.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/event-2015/unihack2015-9.jpg" />
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ site.url }}/images/event-2015/unihack2015-28.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/event-2015/unihack2015-28.jpg" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="{{ site.url }}/images/event-2015/unihack2015-27.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/event-2015/unihack2015-27.jpg" />
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ site.url }}/images/event-2015/unihack2015-46.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/event-2015/unihack2015-46.jpg" />
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ site.url }}/images/event-2015/unihack2015-49.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/event-2015/unihack2015-49.jpg" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="{{ site.url }}/images/event-2015/unihack2015-4.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/event-2015/unihack2015-4.jpg" />
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ site.url }}/images/event-2015/unihack2015-10.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/event-2015/unihack2015-10.jpg" />
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ site.url }}/images/event-2015/unihack2015-55.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/event-2015/unihack2015-55.jpg" />
      </a>
    </div>
  </div>


  <h3>UNIHACK 2015: Major Prize Winners</h3>
  <div class="row">
    <div class="col-md-4">
      <a href="{{ site.url }}/images/event-2015/unihack2015-56.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/event-2015/unihack2015-56.jpg" />
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ site.url }}/images/event-2015/unihack2015-61.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/event-2015/unihack2015-61.jpg" />
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ site.url }}/images/event-2015/unihack2015-62.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/event-2015/unihack2015-62.jpg" />
      </a>
    </div>
  </div>

  <h3>Posters</h3>
  <div class="row">
    <div class="col-md-4">
      <a href="{{ site.url }}/images/posters/poster-1.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/posters/poster-1.jpg" />
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ site.url }}/images/posters/poster-2.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/posters/poster-2.jpg" />
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ site.url }}/images/posters/poster-3.jpg">
        <img class="img-fluid" src="{{ site.url }}/images/posters/poster-3.jpg" />
      </a>
    </div>
  </div>

  <h3>Logos</h3>
  <div class="row">
    <div class="col-md-6 trans-img">
      <a href="{{ site.url }}/images/logos/Logo_Black_Transparent.png">
        <img class="img-fluid" src="{{ site.url }}/images/logos/Logo_Black_Transparent.png" />
      </a>
    </div>
    <div class="col-md-6 trans-img">
      <a href="{{ site.url }}/images/logos/Logo_White_Transparent.png">
        <img class="img-fluid" src="{{ site.url }}/images/logos/Logo_White_Transparent.png" />
      </a>
    </div>
  </div>

  <p class="page-top"><a href="#top">Back to Top</a></p>
</div>
