<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UNIHACK Press Kit</title>
    <link href="//fonts.googleapis.com/css?family=Titillium+Web:300,700|Open+Sans:300,400,700" rel="stylesheet" />
    <link rel="stylesheet" href="{{ site.url }}/css/style.css" />
  </head>
  <body id="top">
    <header id="gl-head">
      <div class="container">
        <p><a href="/">Go back to the UNIHACK website</a></p>
      </div>
    </header>

    <div id="press-header">
      <div class="container">
        <h1><a href="{{ site.url }}">Press Kit</a></h1>
      </div>
    </div>

    <div id="press-body">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="block">
              <ul class="toc list-unstyled">
                <li>
                  <a href="{{ site.url }}/#press-release">Press Releases</a>
                </li>
                <li>
                  <a href="{{ site.url }}/#images">Images</a>
                </li>
              </ul>
            </div>

            <div class="block">
              <h5>Press Contact</h5>
              <p>Terence Huynh</p>
              <p class="job">Creator and Vice-Chair of UNIHACK Melbourne</p>
              <p>team@unihack.net</p>
            </div>
          </div>

          <div class="col-md-9">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <footer id="gl-foot">
      <div class="container">
        <p class="copyright">&copy; {{ 'now' | date: "%Y" }} UNIHACK INCORPORATED. All Rights Reserved.</p>
        <p>ABN 85 369 194 065</p>
      </div>
    </footer>
  </body>
</html>
